.navBar{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #F1F1F1;
  border-bottom: 1px #3B68E1 solid;
  box-shadow:0 0 8px 0 #427df4;
  position: relative;
}

.icon{
  color: black;
  display: inline;
  font-size: 26px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px #427df4;

}

.navBarItem{
  color: black;
  display: inline;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border: 1px black solid;
  border-radius: 6px;
  background-color: #cccccc;
}

.navBarItem:hover{
  position: relative;
  border-color: #427df4;
  box-shadow:0 0 8px 0 #427df4;
}

.navLink {
  color: black;
  text-align: center;
  font-size: 21px;
  padding: 14px 16px;
  text-decoration: none;
}

